/* The side navigation menu */
.sidenav {
  //height: 200px; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  bottom: 0; /* Stay at the bottom */
  left: 0;
  background-color: #111; /* Black*/
  overflow-y: hidden; /* Disable horizontal scroll */
  //padding-bottom: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  background-color: #343a40;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.vertical-center{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

textarea:focus, input:focus {
    color: #ff0000;
}

.changed {
  font-weight: bold;  
}

.info-text {
  color: #03a0a8;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.compact{
  margin: 0px;
  padding: 0px;
}

.bg-disabled{
  background-color: rgb(233,236,239);
  opacity: 0.75;
  border-color: gray;
  border-width: 3px;
}

.bg-enabled{
  //background-color: rgb(240, 240, 240);
  opacity: 1;
  border-color: gray;
  border-width: 3px;
}

.well-rounded{
  border-radius: 10px;
}

.strong-borders{
  border-width: 3px;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.vertical-center-contained{
  margin-top: auto;
  margin-bottom: auto; 
}
